@mixin centerAbsolute() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin centerAbsoluteY() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin fillAbsolute() {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
